body{
    padding: 0;
    margin: 0;
    background-color: black;
}
a{
    text-decoration: none;
    list-style: none;
}
#git-logo{
    background-color: white;
    width: 33vw;
    height: 33vw;
    border-radius: 50%;
}
img{
    width: 33vw;
}
#git-link{
    color: aliceblue;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    margin: 10vw 0 0 10vw;
    align-items: center;
    max-width: 30vw;
    font-size: 1.5vw;
}
#git{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#link{
    display: flex;
    padding: 10px;
    border: 2px solid;
    border-color: #F2F4FF;
    width: 100%;
    border-radius: 20px;
    justify-content: center;
    color: #F2F4FF;
    font-family: sans-serif;
    font-weight: bold;
}
#link:hover{
    background-color: #F2F4FF;
    color: black;
    transition: 800ms;
}