body{
    margin: 0;
    padding: 0;
    background-color: #160EC2;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    overflow: hidden;
}

#container{
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    margin-top: 10vh;
}

#php{
    border-radius: 50%;
    width: 35vh;
    border: 20px solid #000;
    margin-right: 16vw;
}
#c{
    border-radius: 50%;
    width: 20vh;
    height: 20vh;
    border: 10px solid #000;
    margin-left: 16vw;
}
#php-skill{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#c-skill{
    margin-top: 2vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#text{
    width: 100vw;
    font-size: 4.5vh;
}
#description{
    width: 100vw;
    margin-left: 16vw;
    font-size: 3.5vh;
}
#description2{
    width: 100vw;
    margin-right: 16vw;
    font-size: 3.5vh;
}
.wave{
    position: absolute;
    width: 100vw;
    bottom: 0;
    z-index: -1;
}
#image{
    width: 100vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
#image2{
    width: 100vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
